<ul class="menu">
  <li>
    <p class="menu-item">
      <mat-icon aria-hidden="false" aria-label="rechercher" fontIcon="search"></mat-icon>
    </p>
    <span class="underline"></span>
  </li>
  @for (item of menuItems; track $index) {
  <li routerLink="/{{ item.path | lowercase }}" routerLinkActive="active">
    <p class="menu-item">{{ item.name }}</p>

    <span class="underline"></span>
  </li>
  } @if ( isLoggedIn$ | async ) {
  <li routerLink="/profile" routerLinkActive="active">
    <p class="menu-item">
      <mat-icon aria-hidden="false" aria-label="profil" fontIcon="account_circle"></mat-icon>
    </p>
  </li>
  } @else {
  <li routerLink="/auth/connexion" routerLinkActive="active">
    <p class="menu-item">
      <mat-icon aria-hidden="false" aria-label="connexion" fontIcon="login"></mat-icon>
    </p>
  </li>
  }
</ul>

<div class="burger-menu" (click)="toggleMobileMenu()" [ngClass]="{ open: mobileMenuOpen }">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

@if ( mobileMenuOpen ) {
<ul class="mobile-menu">
  @for (item of menuItems; track $index) {
  <li
    routerLink="/{{ item.path | lowercase }}"
    routerLinkActive="active"
    (click)="toggleMobileMenu()"
  >
    <p class="mobile-menu-item">
      <mat-icon aria-hidden="false" aria-label="connexion" [fontIcon]="item.icon"></mat-icon>
      <span class="mobile-menu-item">{{ item.name }}</span>
    </p>
  </li>
  }
</ul>
}
