@use '../../../../../styles/variables' as *;

.forum-nav {
  height: 600px;
  width: 300px;
  border-right: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
}

.active {
  font-weight: bold;
}

.nav-item {
  color: $text-color;
  text-decoration: underline;

  &-sub {
    margin-left: 20px;
    color: $text-color;
    gap: 10px;
  }
}
