@use '../../../../../styles/variables' as *;

.reset {
  margin-top: 4rem;
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

}

@media (max-width: 900px) {
  .reset {
    margin: 1rem;
  }
}
