@use '../../../../../styles/variables' as *;

.breadcrumb {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 5px;

  &-item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $red-500;
    a {
      text-decoration: none;
      font-weight: 500;
      color: $text-color;
    }
  }
}
