@use 'variables' as *;

.form-group {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border-color: rgb(0, 0, 0);
    outline: none;
  }
  &.is-invalid {
    border-color: $text-alert-color;
    background-color: #ffe6e6; // optionnel, pour mettre un fond rouge clair
    &:focus {
      border-color: $text-alert-color;
    }
  }
}

textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  resize: none;

  &:focus {
    border-color: rgb(0, 0, 0);
    outline: none;
  }
  &.is-invalid {
    border-color: $text-alert-color;
    background-color: #ffe6e6; // optionnel, pour mettre un fond rouge clair
    &:focus {
      border-color: $text-alert-color;
    }
  }
}
