@use '../../../styles/variables' as *;

.footer {
  background-color: $background-dark-color;
  color: white;
  padding: 1rem;
  min-height: 300px;
  * {
    color: $text-light-color;
  }

  p {
    margin: 0;
  }
}
