@use '../../../../../styles/variables' as *;

.post-card-date {
  margin: 20px 4px 10px 4px;
  display: flex;
  align-items: center;
  gap: 8px;

}

.post-card {
  //border: 1px solid $border-color;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: $surface-color;
  display: flex;
  overflow: hidden;

  &-header {
    width: 200px;
    // background-color: $primary-color;
    // color: $text-light-color;
    border-right: 1px solid $border-color;
    padding: 16px;
    display: flex;
    justify-content: center;
  }

  &-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-content {
    padding: 16px;
  }

  &-signature {
    padding: 8px 16px;
    width: 100%;
    margin-top: 12px;
    font-style: italic;
    color: $text-info-color;
    min-height: 80px;
    background-color: $background-hover-color;
    display: flex;
    justify-content: space-between;
  }

  .post-card-likes {
    display: flex;
    align-items: center;
    mat-icon {
      margin-right: 4px;
    }
  }

  .user {
  }
}
