<div class="profile container container-small">
  @if (currentUser$ | async; as currentUser) {
  <div class="info">
    <div class="avatar-container">
      <img
        [src]="
          previewUrl ||
          apiUploadUrl +
            currentUser?.avatarUrl +
            '?t=' +
            (currentUser?.updatedAt | date : 'yyyyMMddHHmmss')
        "
        alt="avatar"
        class="avatar"
        (click)="fileInput.click()"
      />
      <input
        #fileInput
        type="file"
        id="avatarInput"
        (change)="onFileSelected($event)"
        hidden
        accept="image/png"
      />
    </div>
    <div>
      <h2>{{ currentUser?.username }}</h2>
      <p>{{ currentUser?.email }}</p>
      <p>Inscrit depuis le {{ currentUser?.createdAt | date : 'dd/MM/yyyy' }}</p>
      <app-btn
        [size]="'small'"
        text="modifier mon mot de passe"
        theme="primary"
        (onClick)="toggleChangePassword()"
      />
    </div>
  </div>
  }
  <form [formGroup]="profileForm" class="profile-signature" (ngSubmit)="onSubmit()">
    <h3>Ma signature</h3>
    <textarea formControlName="signature" id="signature"> </textarea>
    <div class="profile-btn">
      <app-btn
        theme="cancel"
        (onClick)="resetForm()"
        text="Annuler"
        [disabled]="profileForm.pristine"
      />
      <app-btn
        theme="primary"
        (onClick)="onSubmit()"
        text="Enregistrer"
        [disabled]="profileForm.invalid || profileForm.pristine"
        [loading]="isLoading"
      />
    </div>

    @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
    }
  </form>
  <app-btn theme="danger" (onClick)="logout()" text="Se déconnecter" />
  <p class="text-alert" (click)="toggleDeleteAccount()">Supprimer mon compte</p>
</div>

@if(showChangePassword) {
<app-change-password (close)="toggleChangePassword()" />} @if(showDeleteAccount) {
<app-delete-account (close)="toggleDeleteAccount()" />}
