@use '../../../../styles/variables' as *;

.btn {
  color: white;
  border: none;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    background-color: $btn-hover-color;
    color: $text-light-color;
  }
  &-primary {
    background-color: $btn-primary-color;
  }
  &-secondary {
    background-color: $btn-secondary-color;
  }
  &-cancel {
    background-color: $btn-cancel-color;
    color: $text-color;
  }
  &-danger {
    background-color: $btn-danger-color;
  }
  &-disabled {
    background-color: $btn-disabled-color;
    cursor: not-allowed;
    opacity: 0.6;
  }
  &-small {
    width: auto;
    padding: 0.3rem 2.8rem;
    font-size: 0.9rem;
  }
  &-medium {
    min-width: 200px;
    padding: 0.5rem 2.8rem;
    font-size: 1rem;
  }
  &-large {
    min-width: 300px;
    padding: 0.7rem 2.8rem;
    font-size: 1.1rem;
  }

  .btn-spinner {
    position: absolute;
    left: 10px;
  }

  &:disabled,
  &.btn-loading {
    pointer-events: none; // empêche toute interaction
    cursor: not-allowed;

    // neutralise le hover
    &:hover {
      background-color: inherit;
      color: inherit;
    }
  }
}
