<button
  (click)="handleClick()"
  class="btn"
  [ngClass]="{
    'btn-primary': theme === 'primary',
    'btn-secondary': theme === 'secondary',
    'btn-danger': theme === 'danger',
    'btn-cancel': theme === 'cancel',
    'btn-loading': loading,
    'btn-small': size === 'small',
    'btn-medium': size === 'medium',
    'btn-large': size === 'large',
    'btn-disabled': disabled
  }"
  [disabled]="disabled || loading"
  [type]="type"
>
  @if(loading){
  <div class="btn-spinner">
    <app-spinner [size]="'small'" [color]="'white'"></app-spinner>
  </div>
  {{ text }}
  } @else {
  <ng-content>{{ text }}</ng-content>
  }
</button>
